.main-chat
  .chat
    .chat__header
      .chat__header__test
        = @group.name
        .chat__header__member
          Member: 
          - @group.group_users.each do |group_users|
            = group_users.user.name

      =link_to edit_group_path(@group) ,class:"chat__header__edit" do
        Edit

  .messages
    = render @messages

  .form
    = form_with model: [@group, @message], html: {class: "new_message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          =f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
